  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 100px;
  }

  .login {
    position: relative;
    width: 500px;
    padding: 10px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    background: #fafafae8;
    overflow: hidden;
    animation: input_opacity 0.2s cubic-bezier(.55, 0, .1, 1);
    box-shadow: 0 3px 3px rgba(2, 0, 0, 0.466),
      0 2px 8px 0 rgba(0, 0, 0, 0.459),
      0 3px 1px -2px rgba(0, 0, 0, 0.466);


  }

  .login>header {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: -10px -10px 25px -10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #313b41;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #FAFAFA;
    animation: scale_header 0.6s cubic-bezier(.55, 0, .1, 1), text_opacity 1s cubic-bezier(.55, 0, .1, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12),
      0px 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .login>header:before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 5px;
    padding: 10px;
    margin: -10px 0 0 -10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.156);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: transparent;
    z-index: 5;
  }


  .login>header h2 {
    margin: 40px 0 10px 0;
  }

  .login>header h4 {
    font-size: 0.7em;
    animation: text_opacity 1.5s cubic-bezier(.55, 0, .1, 1);
    color: rgba(255, 255, 255, 0.4);

  }

  .loginForm {
    padding: 15px;
    box-sizing: border-box;
  }


  .loginInput {
    position: relative;
    width: 100%;
    padding: 10px 5px;
    margin: 0 0 25px 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: transparent;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
  }

  .loginInput:focus {
    outline: none;
    border-bottom: 2px solid #21282b;
  }


  .submitContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 10px;
    margin: 35px -25px -25px -25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .loginButton {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #21282b;
    cursor: pointer;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    transition: background 0.2s ease-in-out;
  }


  .loginButton:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  .loginButton.raised:hover {
    background: #21282b;
  }