@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    background-image: url('../../images/main-background-97.png');
    background-size: cover;
    /* Adjust the image size */
    background-color: rgb(0, 131, 253);

}

.negative {
    color: rgb(253, 52, 52);
}

.positive {
    color: rgb(78, 212, 78);
}

.green {
    background-color: rgb(0, 143, 12);
}

.red {
    background-color: rgb(184, 1, 1);
}


.default-bg {
    background-color: #21282b;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 8px;
    font-size: 28px;
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.377);
    box-shadow: -1px 1px 5px 8px rgba(0, 0, 0, 0.253);
    border-radius: 12px;
    padding-bottom: 12px;
}